.signInField {
    width: 400px;
}


.overlaySignIn {
    background: rgba(49,49,49,0.8);
}

/* Sign up */

.signUpFieldDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.signUpFieldSet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUpField {
    width: 600px;
}

body.signupModal, body.signinModal {
    overflow-y: hidden;
}

.signupModal, .overlaySignUp, .signinModal, .overlaySignIn {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlaySignUp {
    background: #194e48;
    opacity: 50%;
}
.contentSignUp, .contentSignIn {
    color: #194e48;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #D6EFC7;
    opacity: 80%;
    padding: 14px 28px;
    border-radius: 7px;
    max-width: 1000px;
    min-width: 300px;
    flex-direction: column;
    align-items: center;
}

.signUpTypeButtons{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    padding: 1px;
    width: 600px;
    height: fit-content;
    color: #194e48;
}

.signUpTypeButtonChoices{
    padding-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:1rem;
    width: 100%;
    
}

.typeDisabled, .typeAbled{
    width: 55%;
    height: 160px;
    background-color: #98ba7d;
    border-radius: 5px;
    border-style: none;
    transition: 0.2s ease-in;
}

.typeDisabled:hover, .typeAbled:hover {
    cursor: pointer;
    box-shadow: 0px 0px 12px 0px;
    transition: 0.2s ease-in;
}
.signupSubmit {
    font-weight: 700;
    border-color: #194e48;
}
.closeSignUp, .closeSignIn {
    border-style: none;
    background-color: #194e48;
    color: #f1f1f1;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.closeSignUp:hover, .closeSignIn:hover {
    cursor: pointer;
}

.signupSubmit:hover {
   cursor: pointer;
}

.messageSU{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.1px;
    padding-top: 8px;
    color: #194e48;
}

.messageSI {
    color: #194e48;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.1px;
    margin-bottom: 15px;
}

.typeTitle{
    font-weight: 500;
}
.typeBody{
    width:100%;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.typeChosen{
    width: 55%;
    height: 160px;
    background-color: #194e48;
    color: #D6EFC7;
    border-radius: 5px;
    border-style: none;
}